<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付管理</title>
    <!-- Bootstrap -->
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/public/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
</head>

<body>
<ul class="breadcrumb pull-left">
    <li>支付管理 <span class="divider">/</span></li>
    <li class="active">支付明细</li>
</ul>
<div class="btn-group pull-right">
    <button class="btn" onClick="window.location.reload();">刷新界面</button>
</div>
<div class="clear"></div>
<!-- 搜索区域 -->
<form class="form-search" id="searchForm" style="margin-bottom:20px;" method="get" action="{{$baseUrl}}index/">
    订单编号：
    <input type="text" name="orderSn" value="{{$orderSn}}" class="form-control" placeholder="订单编号">
    添加时间：
    <input type="text" class="form-control" name="beginTime" id="beginTime" class="form-control" value="{{$startTime}}" placeholder="开始时间" />&nbsp;&nbsp;至&nbsp;&nbsp;
    <input type="text" class="form-control" name="endTime" id="endTime" class="form-control" value="{{$endTime}}" placeholder="结束时间" />
    <button type="submit" class="btn">搜索</button>
</form>
<!-- 内容区域 -->

<!-- 表格 -->
<table class="table table-bordered table-striped">
    <tr>
        <td>ID</td>
        <td>用户id</td>
        <td>用户昵称</td>
        <td>订单号</td>
        <td>第三方平台订单号</td>
        <td>支付总金额</td>
        <td>添加时间</td>
    </tr>
    {{if $data}}
    {{foreach from=$data item=row}}
    <tr>
        <td>{{$row.p_id}}</td>
        <td>{{$row.m_id}}</td>
        <td>{{$row.m_nickname}}</td>
        <td>{{$row.p_order_no}}</td>
        <td>{{$row.p_transaction_no}}</td>
        <td>{{$row.p_money}}</td>
        <td>{{$row.p_addtime}}</td>
    </tr>
    {{/foreach}}
    {{/if}}
</table>

<div class="pagination pagination-small">
    <ul class="pull-right">{{$page}}<a class="current">总记录：{{$total}}</a></ul>
    <div class="clear"></div>
</div>

<script src="/public/admin/js/jquery-1.8.2.min.js"></script>
<script src="/public/admin/js/bootstrap.min.js"></script>
<script src="/public/admin/js/Validform_v5.3.2_min.js"></script>
<script src="/public/admin/js/jquery.artDialog.min.js"></script>
<script src="/public/admin/js/common.js"></script>
<script src="/public/admin/js/bootstrap-datetimepicker.js"></script>
<script>
    $("#beginTime,#endTime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: 1,
        pickerPosition: "bottom-left"
    });
</script>
</body>
</html>


