<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>发现-内页</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <link rel="stylesheet" href="/public/mall/css/style.css">
</head>

<body>

<header class="bar bar-nav">
    <h1 class="title">{{$data.n_title}}</h1>
</header>

<div class="content find-show">
    {{$data.n_content}}
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
{{include file="application/views/common/footer.html"}}
<script>
    $(function() {
        $(".content").scroller({
            type: 'native'
        });
    });
</script>
</body>
</html>
