<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>购物车</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <link rel="stylesheet" href="/public/mall/css/style.css">
</head>

<body>
<header class="bar bar-nav">
    <a class="button pull-left" href="/mall/index/index">商城首页</a>
    <a class="icon icon-remove pull-right" id="delete" href="javascript:void(0);"></a>
    <h1 class="title">购物车</h1>
</header>

<div class="content shopping-cart">
    <div class="list-block media-list">
        <ul>
            {{if $shopCart}}
                {{foreach from=$shopCart key=key item=vo}}
                    <li id="li_{{$key}}">
                        <div class="number">
                            <input class="jian" name="" type="button" value="-" scid="{{$vo.sc_id}}" rel="{{if $vo.ppInfo}}{{$vo.ppInfo.pp_price}}{{else}}{{$vo.p_price}}{{/if}}"/>
                            <span class="span">{{$vo.sc_number}}</span>
                            <input class="jia" name="" type="button" value="+" scid="{{$vo.sc_id}}" rel="{{if $vo.ppInfo}}{{$vo.ppInfo.pp_price}}{{else}}{{$vo.p_price}}{{/if}}"/>
                        </div>
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="choice" value="{{$vo.sc_id}}" >
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{$vo.p_title}}</div>
                                </div>
                                {{if $vo.ppInfo}}
                                <div class="item-subtitle">型号: {{$vo.ppInfo.pp_name}}</div>
                                {{/if}}
                                {{if $vo.ppInfo}}
                                <div class="item-text">¥{{$vo.ppInfo.pp_price}} <del>¥{{$vo.p_price}}</del></div>
                                {{else}}
                                <div class="item-text">¥{{$vo.p_price}}</div>
                                {{/if}}
                            </div>
                        </label>
                    </li>
                {{/foreach}}
            {{/if}}

        </ul>
    </div>

    <div class="text">总计(不含运费) : ￥<span id="totalPrice">{{$totalPrice}}</span></div>
    <a href="javascript:void(0);" id="buyBtn" class="bottom-btn button button-big button-fill button-danger">去结算({{$cartCount}})</a>
</div>




<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<script>
    $(".jia").click(function(){
        var a = $(this).siblings(".span").html();
        if(a > 9){
            $.alert("最多购买10个")
        }else{
            var price = parseFloat($(this).attr('rel'));
            var scid = $(this).attr('scid');
            var obj = $(this);
            $.post('/ajax/shopcart/update', {scid : scid, num : 1}, function(data){
                if(data.status == 'y'){
                    $('#totalPrice').html(parseFloat($('#totalPrice').html()) + price);
                    obj.siblings(".span").html(obj.siblings(".span").html() * 1 + 1)
                }
            }, 'json')

        }
    });

    $(".jian").click(function(){
        var a = $(this).siblings(".span").html();
        if(a < 2){
            $.alert("最少购买1个")
        }else{
            var price = parseFloat($(this).attr('rel'));
            var scid = $(this).attr('scid');
            var obj = $(this);
            $.post('/ajax/shopcart/update', {scid : scid, num : -1}, function(data){
                if(data.status == 'y'){
                    $('#totalPrice').html(parseFloat($('#totalPrice').html()) - price);
                    obj.siblings(".span").html(obj.siblings(".span").html() - 1)
                }
            }, 'json')

        }
    });



    $(document).ready(function(){
        $('#buyBtn').click(function(){
            var buyArr = [];
            $('input[name="choice"]:checked').each(function(){
                buyArr.push($(this).val());
            })
            if(buyArr.length <= 0){
                $.alert('未选择购买商品');return;
            }

            location.href = '/pay/order/?source=2&scids=' + buyArr.join(',');
        })

        $('#delete').click(function(){
            var delArr = [];
            $('input[name="choice"]:checked').each(function(){
                delArr.push($(this).val());
            })

            if(delArr.length <= 0){
                $.alert('未选择删除商品');return;
            }

            $.post('/ajax/shopcart/delete', {ids : delArr.join(',')}, function(data){
                if(data.status == 'y'){
                    for(var i in delArr){
                        $('#li_' + i).remove();
                    }
                }else{
                    $.alert(data.info);
                }
            }, 'json')
        })
    })
</script>
</body>
</html>
