<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微信管理</title>
    <!-- Bootstrap -->
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/public/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/public/admin/css/bootstrap-customfile.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">

</head>
<body>
<ul class="breadcrumb pull-left">
    <li><a href="/admin/weixinkeywords/index/">关键字回复配置</a></li>
    <li class="active">&nbsp;>&nbsp;配置详情</li>
</ul>
<div class="btn-group pull-right">
    <button type="button" class="btn btn-primary pull-right"  onclick="location.href='/admin/weixinkeywords/form/'">添加新闻</button>
    <button class="btn" onClick="window.location.reload();">刷新界面</button>
</div>
<div class="clear"></div>

<form class="form-horizontal" id="form-save" action="/admin/weixinkeywords/save/">
    <div class="tab-pane active" id="basic_right">
        <input type="hidden" name="k_id" value="{{$row.k_id}}">
        <div class="form-group">
            <label class="control-label">关键字</label>
            <div class="controls">
                <input type="text" class="control-group" name="k_keys" value="{{$row.k_keys}}" placeholder="关键字"  />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">标题</label>
            <div class="controls">
                <input type="text" class="control-group" name="k_title" value='{{$row.k_title}}' placeholder="标题" datatype="*" nullmsg="请填写关键字标题" style="width:500px;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">所属内容类别</label>
            <div class="controls"><select class="control-group" name="k_type" id="k_type" datatype="*" nullmsg="请选择内容类别">{{$keywordsType}}</select></div>
        </div>

        <div class="form-group news" >
            <label class="control-label">跳转链接</label>
            <div class="controls">
                <input type="text" class="control-group" name="k_url" value="{{$row.k_url}}" placeholder="跳转链接"  datatype="url"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">内容</label>
            <div class="controls">
                <textarea name="k_content" id="k_content" style="width:600px;height: 320px;" rows="6"  datatype="*" nullmsg="请填写关键字内容">{{$row.k_content}}</textarea>
            </div>
        </div>
        <div class="form-group news"  style="margin-top: 10px;">
            <label class="control-label">缩略图</label>
            <div class="controls">
                <input type="file" name="upload" id="upload" onchange="return ajaxFileUpload();" />

                {{if $row.k_thumb}}
                <div style="padding-top:10px;"><img src="{{$smarty.const.APP_IMAGE_URL}}{{$row.k_thumb}}" id="upload-img" style="max-width:200px;"/></div>
                <input type="hidden" name="file" id="file" value="{{$row.k_thumb}}" />
                {{else}}
                <input type="hidden" name="file" id="file"  />
                <div style="padding-top:10px;"><img src="" id="upload-img" style="max-width:200px; display:none"/></div>
                {{/if}}
            </div>
        </div>
        <div class="form-group"  style="margin-top: 10px;">
            <label class="control-label">状态</label>
            <div class="controls">
                <select class="control-group" name="k_status" datatype="*" null="请选择状态">{{$statusType}}</select>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </div>
</form>

<script src="/public/admin/js/jquery-1.8.2.min.js"></script>
<script src="/public/admin/js/bootstrap.min.js"></script>
<script src="/public/admin/js/common.js"></script>
<script src="/public/admin/js/umeditor/umeditor.config.js"></script>
<script src="/public/admin/js/umeditor/umeditor.js"></script>
<script src="/public/admin/js/umeditor/lang/zh-cn/zh-cn.js"></script>
<script src="/public/admin/js/Validform_v5.3.2_min.js"></script>
<script src="/public/admin/js/jquery.ajaxfileupload.js"></script>
<script src="/public/admin/js/bootstrap-customfile.js"></script>
<script src="/public/admin/js/bootstrap-datetimepicker.js"></script>
<script src="/public/admin/js/jquery.artDialog.min.js"></script>

<script>
    var editor =  '';

    $(function(){
        editor = UM.getEditor('k_content');
    });


    var loading = $.dialog.loading('注意：正在导入数据，请耐心等待，千万不要关闭或者刷新页面！').hide();

    $('#k_type').change(function(){
        if($(this).val() == 'news'){
            $('.news').show();
        }else{
            $('.news').hide();
        }
    })

    $(document).ready(function(){
        if($('#k_type').val() == 'news'){
            $('.news').show();
        }else{
            $('.news').hide();
        }
    })

    $("#form-save").Validform({
        ajaxPost: true,
        tipSweep: true,
        tiptype:function(msg,o,cssctl){
            if(o.type == 3)
                $.dialog.tips(msg);
        },
        beforeSubmit:function(curform){
        },
        callback:function(response){
            $.dialog.tips(response.info);
            if ( response.status == 'y' ) {
                window.setTimeout(function(){
                    location.reload();
                }, 2000)
            }
        }
    });


    /*初始化上传文件*/
    $("#upload").customFileInput();

    var processing = false;
    function ajaxFileUpload() {
        if ( processing == true ) {
            return false;
        }

        var dialog     = $.dialog.loading('上传中，请稍等！').show();
        processing = true;
        $.ajaxFileUpload({
            url:'/admin/weixinkeywords/upload',
            secureuri:false,
            fileElementId:'upload',
            dataType: 'json',
            success: function (data, status){
                setTimeout( function() {
                    processing = false;
                }, 500);
                dialog.close();

                if ( data.status == 'y' ) {
                    $("#upload-img").attr('src', data.info.url).show();
                    $('#file').val(data.info.fileName);
                    return;
                }

                $.dialog.error(data.info);
                return false;
            },
            error: function (data, status, e){
                $.dialog.error(e);
            }
        });
    }
</script>
</body>
</html>